
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,559;1,800&family=Prompt:ital,wght@1,500&family=Roboto+Slab&display=swap');

* {
    font-family: 'Merriweather Sans', sans-serif;
    
}

body{
    background:linear-gradient(#fcfcfd,#e9a3a3, #fcfcfd)
}

p{
    margin: 20px;
    padding: 20px;
}

#heading{
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    padding: 10px 10px 10px 10px;
}

#input-Bar{
    margin: 30px;
    padding: 15px;
    border: solid #000000 3px;
    border-radius: 15px;
}

#input{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: 10px;
    border-color: black;
}

#container{
    
    height: 60vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

